@use "../../styles/variables.scss" as *;

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: $font-family-base;
  padding: clamp(1rem, 3vw, 2rem) 0;

  .logo {
    height: clamp(35px, 6vw, 68px);
    width: auto;
  }

  .navbar {
    display: flex;
    gap: clamp(1rem, 5vw, 3.5rem);

    &-link,
    &-link:visited,
    &-link--active,
    &-link--active:visited {
      text-decoration: none;
      font-size: clamp(0.75rem, 2vw, 1.5rem);
      font-weight: 500;
      color: $color-secondary;
      transition: all 0.3s ease;

      @media (max-width: $breakpoint-mobile) {
        text-transform: uppercase;
      }
    }

    &-link--active {
      text-decoration: underline;
      cursor: default;
    }
  }
}
